<!doctype html>
<html lang="en">

<head>
	<title>Dashboard | MachData</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/vendor/linearicons/style.css">
	<link rel="stylesheet" href="../static/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="../static/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="../static/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../static/img/favicon.png">
	<script>
		window.onload = function () {

			var chart = new CanvasJS.Chart("chartContainer", {
				exportEnabled: true,
				animationEnabled: true,
				title: {
					text: "Periodic Overview "
				},
				legend: {
					cursor: "pointer",
					itemclick: explodePie
				},
				data: [{
					type: "pie",
					showInLegend: true,
					toolTipContent: "{name}: <strong>{y} hrs</strong>",
					indexLabel: "{name} - {y} hrs",
					dataPoints: [
						{ y: "{{(data['OPERATE Time'][1]|int/3600)|round}}", name: "Operation Time", exploded: true },
						{ y: "{{(data['STOP Time'][1]|int/3600)|round}}", name: "Stop Time" },
						{ y: "{{(data['ALARM Time'][1]|int/3600)|round}}", name: " Alarm Time" },
						{ y: "{{data['EMERGENCY Time'][1]|int/3600}}", name: "Emergency Time" },
						{ y: "{{(data['MANUAL Time'][1]|int/3600)|round}}" + 1, name: "Manual Time" },
						{ y: "{{(data['SUSPEND Time'][1]|int/3600)|round}}", name: "Suspend Time" },
						{ y: "{{(data['DISCONNECT Time'][1]|int/3600)|round}}", name: "Disconnect Time" },

					]
				}]
			});
			chart.render();
			var da = {{ (data['OPERATE Time'][1] | int / 3600) | round
		}}; var da1 = {{ (data1['OPERATE Time'][1] | int / 3600) | round
		}}; var da2 = {{ (data2['OPERATE Time'][1] | int / 3600) | round
		}}; var da3 = {{ (data3['OPERATE Time'][1] | int / 3600) | round
		}};

		var dat = {{ (data['STOP Time'][1] | int / 3600) | round
		}}; var dat1 = {{ (data1['STOP Time'][1] | int / 3600) | round
		}}; var dat2 = {{ (data2['STOP Time'][1] | int / 3600) | round
		}}; var dat3 = {{ (data3['STOP Time'][1] | int / 3600) | round
		}};
		var data = {{ (data['ALARM Time'][1] | int / 3600) | round
		}}; var data1 = {{ (data1['ALARM Time'][1] | int / 3600) | round
		}}; var data2 = {{ (data2['ALARM Time'][1] | int / 3600) | round
		}}; var data3 = {{ (data3['ALARM Time'][1] | int / 3600) | round
		}};

		var dataa = {{ (data['DISCONNECT Time'][1] | int / 3600) | round
		}}; var dataa1 = {{ (data1['DISCONNECT Time'][1] | int / 3600) | round
		}}; var dataa2 = {{ (data2['DISCONNECT Time'][1] | int / 3600) | round
		}}; var dataa3 = {{ (data3['DISCONNECT Time'][1] | int / 3600) | round
		}};
		var chart1 = new CanvasJS.Chart("chartContainer1", {
			animationEnabled: true,
			title: {
				text: "Monthly Analysis"
			},
			axisY: {
				includeZero: false,
				prefix: ""
			},
			toolTip: {
				shared: true
			},
			legend: {
				fontSize: 13
			},
			data: [{
				type: "splineArea",
				showInLegend: true,
				name: "Operate Time",
				yValueFormatString: "###",
				xValueFormatString: "MMM YYYY",
				dataPoints: [
					{ x: new Date(2020, 11), y: da },
					{ x: new Date(2021, 0), y: da1 },
					{ x: new Date(2021, 1), y: da2 },
					{ x: new Date(2021, 2), y: da3 },

				]
			},
			{
				type: "splineArea",
				showInLegend: true,
				name: "Stop time",
				yValueFormatString: "###",
				dataPoints: [
					{ x: new Date(2020, 11), y: dat },
					{ x: new Date(2021, 0), y: dat1 },
					{ x: new Date(2021, 1), y: dat2 },
					{ x: new Date(2021, 2), y: dat3 },

				]
			},
			{
				type: "splineArea",
				showInLegend: true,
				name: "Alarm time",
				yValueFormatString: "###",
				dataPoints: [
					{ x: new Date(2020, 11), y: data },
					{ x: new Date(2021, 0), y: data1 },
					{ x: new Date(2021, 1), y: data2 },
					{ x: new Date(2021, 2), y: data3 },

				]
			},
			{
				type: "splineArea",
				showInLegend: true,
				yValueFormatString: "###",
				name: "Disconnect Time",
				dataPoints: [
					{ x: new Date(2020, 11), y: dataa },
					{ x: new Date(2021, 0), y: dataa1 },
					{ x: new Date(2021, 1), y: dataa2 },
					{ x: new Date(2021, 2), y: dataa3 },

				]
			}]
		});
		chart1.render();

		var chart2 = new CanvasJS.Chart("chartContainer2", {
			animationEnabled: true,
			title: {
				text: "Month wise data"
			},
			axisY: {
				title: "Time in Hours",
				titleFontColor: "#4F81BC",
				lineColor: "#4F81BC",
				labelFontColor: "#4F81BC",
				tickColor: "#4F81BC"
			},
			toolTip: {
				shared: true
			},
			legend: {
				cursor: "pointer",
				itemclick: toggleDataSeries
			},
			data: [{
				type: "column",
				name: "Operational Time",
				legendText: "Operational Time",
				showInLegend: true,
				dataPoints: [
					{ label: "December - 2020", y: da },
					{ label: "January - 2021", y: da1 },
					{ label: "February - 2021", y: da2 },
					{ label: "March - 2021", y: da3 },

				]
			},
			{
				type: "column",
				name: "Stop Time",
				legendText: "Stop Time",
				axisYType: "secondary",
				showInLegend: true,
				dataPoints: [
					{ label: "December - 2020", y: dat },
					{ label: "January - 2021", y: dat1 },
					{ label: "February - 2021", y: dat2 },
					{ label: "March - 2021", y: dat3 },

				]
			},
			{
				type: "column",
				name: "Alarm Time",
				legendText: "Alarm Time",
				axisYType: "secondary",
				showInLegend: true,
				dataPoints: [
					{ label: "December - 2020", y: data + 10 },
					{ label: "January - 2021", y: data1 + 10 },
					{ label: "February - 2021", y: data2 + 10 },
					{ label: "March - 2021", y: data3 + 10 },

				]
			},
			{
				type: "column",
				name: "Disconnect Time",
				legendText: "Disconnect Time",
				axisYType: "secondary",
				showInLegend: true,
				dataPoints: [
					{ label: "December - 2020", y: dataa },
					{ label: "January - 2021", y: dataa1 },
					{ label: "February - 2021", y: dataa2 },
					{ label: "March - 2021", y: dataa3 },

				]
			}
			]
		});
		chart2.render();
		}
		function toggleDataSeries(e) {
			if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
				e.dataSeries.visible = false;
			}
			else {
				e.dataSeries.visible = true;
			}
			chart2.render();
		}

		function explodePie(e) {
			if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
				e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
			} else {
				e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
			}
			e.chart.render();

		}

	</script>
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html"><img src="../static/img/logo-ark.png" alt="MachData Logo"
						class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i
							class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search dashboard...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>
				<div class="navbar-btn navbar-btn-right">

				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System
										space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9
										unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly
										report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly
										meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your
										request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="../static/img/user.png"
									class="img-circle" alt="Avatar"> <span>Jegan</span> <i
									class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="/logout"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>

					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="#" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a>
						</li>

						<li><a href="../download" class=""><i class="lnr lnr-download"></i> <span>Download</span></a>
						</li>
						<li><a href="#" class=""><i class="lnr lnr-alarm"></i>
								<span>Notifications</span></a></li>
						<li>
							<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-cog"></i>
								<span>Others</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="#" class="">Profile</a></li>
									<li><a href="#" class="">Login</a></li>
									<li><a href="#" class="">Lockscreen</a></li>
								</ul>
							</div>
						</li>

					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">

			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<center>
						<div class="btn-group">
							<button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
								Select a Machine <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a class="dropdown-item active" href="../dashboard/machine_data_1">Machine 1</a>
								</li>
								<li><a class="dropdown-item" href="../dashboard/machine_data_2">Machine 2</a></li>
								<li><a class="dropdown-item" href="../dashboard/machine_data_3">Machine 3</a></li>
								<li><a class="dropdown-item" href="../dashboard/machine_data_4">Machine 4</a></li>
								<li><a class="dropdown-item" href="../dashboard/machine_data_5">Machine 5</a></li>

							</ul>
						</div>
						<br><br>
						<br>
						<div class="panel panel-headline">
							<h2>{{mname}}</h2>
						</div>
				</div>
				</center>

				<br><br>
				<!-- OVERVIEW -->
				<div class="panel panel-headline">
					<div class="panel-heading">
						<h3 class="panel-title">Monthly Overview</h3>
						<p class="panel-subtitle">Period: Dec 14, 2020 - March 21, 2021</p>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3">
								<div class="metric">
									<span class="icon"><i class="fa fa-download"></i></span>
									<p>
										<span class="number">{{(data['OPERATE Time'][1]|int/60)|round}}</span>
										<span class="title">Total Operation Time</span>
									</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="metric">
									<span class="icon"><i class="fa fa-shopping-bag"></i></span>
									<p>
										<span class="number">{{(data["STOP Time"][1]|int/60)|round}}</span>
										<span class="title">Total Stop Time</span>
									</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="metric">
									<span class="icon"><i class="fa fa-eye"></i></span>
									<p>
										<span class="number">{{(data["ALARM Time"][1]| int/60)|round}}</span>
										<span class="title">Total Alarm Time</span>
									</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="metric">
									<span class="icon"><i class="fa fa-bar-chart"></i></span>
									<p>
										<span class="number">{{(data["DISCONNECT Time"][1]| int/60)|round}}</span>
										<span class="title">Total Disconnect Time</span>
									</p>
								</div>
							</div>
						</div>
						<div class="row">

							<div class="col-md-12">
								<div id="chartContainer1" style="height: 300px; "></div>



							</div>

						</div>
					</div>
				</div>
				<!-- END OVERVIEW -->
				<div class="row">

					<div class="col-md-12">
						<!-- MULTI CHARTS -->
						<div class="panel">
							<div class="panel-heading">
								<h3 class="panel-title"> Overview of a Month</h3>
								<div class="right">
									<button type="button" class="btn-toggle-collapse"><i
											class="lnr lnr-chevron-up"></i></button>
									<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
								</div>
							</div>
							<div class="panel-body">
								<div id="chartContainer2" style="height: 300px; width: 100%;"></div>

							</div>
						</div>
						<!-- END MULTI CHARTS -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<!-- TODO LIST -->
						<div class="panel">
							<div class="panel-heading">
								<h3 class="panel-title">Pie Report</h3>
								<div class="right">
									<button type="button" class="btn-toggle-collapse"><i
											class="lnr lnr-chevron-up"></i></button>
									<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
								</div>
							</div>
							<div class="panel-body">
								<div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;">
								</div>
								<script src="../static/js/canvasjs.min.js"></script>

							</div>
						</div>
						<!-- END TODO LIST -->
					</div>
					<!--div class="col-md-5">
						
							<div class="panel panel-scrolling">
								<div class="panel-heading">
									<h3 class="panel-title">Recent User Activity</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i
												class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body">
									<ul class="list-unstyled activity-list">
										<li>
											<img src="../static/img/user1.png" alt="Avatar"
												class="img-circle pull-left avatar">
											<p><a href="#">Michael</a> has achieved 80% of his completed tasks <span
													class="timestamp">20 minutes ago</span></p>
										</li>
										<li>
											<img src="../static/img/user2.png" alt="Avatar"
												class="img-circle pull-left avatar">
											<p><a href="#">Daniel</a> has been added as a team member to project <a
													href="#">System Update</a> <span class="timestamp">Yesterday</span>
											</p>
										</li>
										<li>
											<img src="../static/img/user3.png" alt="Avatar"
												class="img-circle pull-left avatar">
											<p><a href="#">Martha</a> created a new heatmap view <a href="#">Landing
													Page</a> <span class="timestamp">2 days ago</span></p>
										</li>
										<li>
											<img src="../static/img/user4.png" alt="Avatar"
												class="img-circle pull-left avatar">
											<p><a href="#">Jane</a> has completed all of the tasks <span
													class="timestamp">2 days ago</span></p>
										</li>
										<li>
											<img src="../static/img/user5.png" alt="Avatar"
												class="img-circle pull-left avatar">
											<p><a href="#">Jason</a> started a discussion about <a href="#">Weekly
													Meeting</a> <span class="timestamp">3 days ago</span></p>
										</li>
									</ul>
									<button type="button" class="btn btn-primary btn-bottom center-block">Load
										More</button>
								</div>
							</div>
						</div-->
				</div>
				<div class="row">

					<div class="col-md-6">
						<!-- VISIT CHART -->
						<div class="panel">
							<div class="panel-heading">
								<h3 class="panel-title">Spindle Temperature</h3>
								<div class="right">
									<button type="button" class="btn-toggle-collapse"><i
											class="lnr lnr-chevron-up"></i></button>
									<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
								</div>
							</div>
							<div class="panel-body">
								<div id="visits-chart" class="ct-chart"></div>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i
									class="fa fa-dot-circle-o text-primary"></i> Temperature in Degree

							</div>
						</div>
						<!-- END VISIT CHART -->
					</div>
					<div class="col-md-6">
						<!-- REALTIME CHART -->
						<div class="panel">
							<div class="panel-heading">
								<h3 class="panel-title">Spindle Load</h3>
								<div class="right">
									<button type="button" class="btn-toggle-collapse"><i
											class="lnr lnr-chevron-up"></i></button>
									<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
								</div>
							</div>
							<div class="panel-body">
								<div id="system-load" class="easy-pie-chart" data-percent="70">
									<span class="percent">70</span>
								</div>
								<h4>Spindle Load</h4>
								<ul class="list-unstyled list-justify">
									<li>High: <span>220%</span></li>
									<li>Average: <span>77%</span></li>
									<li>Low: <span>5%</span></li>

								</ul>
							</div>
						</div>
						<!-- END REALTIME CHART -->
					</div>
				</div>
			</div>
		</div>
		<!-- END MAIN CONTENT -->
	</div>
	<!-- END MAIN -->
	<div class="clearfix"></div>
	<footer>
		<div class="container-fluid">
			<p class="copyright">&copy; 2021 <a href="#" target="_blank">Rvolt INC</a>.
				All Rights Reserved.</p>
		</div>
	</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="../static/vendor/jquery/jquery.min.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../static/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../static/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="../static/vendor/chartist/js/chartist.min.js"></script>
	<script src="../static/scripts/klorofil-common.js"></script>
	<script>
		$(function () {
			var data, options;
			var daata = "{{ data['OPERATE Time'][7]}}";
			// headline charts
			data = {
				labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
				series: [
					[daata, "{{ data['OPERATE Time'][8]}}", "{{ data['OPERATE Time'][9]}}", "{{ data['OPERATE Time'][10]}}", "{{ data['OPERATE Time'][11]}}", "{{ data['OPERATE Time'][12]}}", "{{ data['OPERATE Time'][13]}}"],
					[daata - 100000, "{{ data['OPERATE Time'][8]}}" - 100000, "{{ data['OPERATE Time'][9]}}" - 100000, "{{ data['OPERATE Time'][10]}}" - 100000, "{{ data['OPERATE Time'][11]}}" - 100000, "{{ data['OPERATE Time'][12]}}" - 100000, "{{ data['OPERATE Time'][13]}}" - 1000],
				]
			};

			options = {
				height: 300,
				showArea: true,
				showLine: false,
				showPoint: false,
				fullWidth: true,
				axisX: {
					showGrid: false
				},
				lineSmooth: false,
			};

			new Chartist.Line('#headline-chart', data, options);


			// visits trend charts
			data = {
				labels: ['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5'],
				series: [{
					name: 'series-real',
					data: ["{{ data['OPERATE Time'][2]| int/3600}}", "{{ data['OPERATE Time'][3]| int/3600}}", "{{ data['OPERATE Time'][4]| int/3600}}", "{{ data['OPERATE Time'][5]| int/3600}}", "{{ data['OPERATE Time'][6]| int/60}}"],
				}, {
					name: 'series-projection',
					data: ["{{ data['OPERATE Time'][2]| int/3600}}", "{{ data['OPERATE Time'][3]| int/3600}}", "{{ data['OPERATE Time'][4]| int/3600}}", "{{ data['OPERATE Time'][5]| int/3600}}", "{{ data['OPERATE Time'][6]| int/60}}"],
				}]
			};

			options = {
				fullWidth: true,
				lineSmooth: false,
				height: "270px",
				low: 0,
				high: 'auto',
				series: {
					'series-projection': {
						showArea: true,
						showPoint: false,
						showLine: false
					},
				},
				axisX: {
					showGrid: false,

				},
				axisY: {
					showGrid: false,
					onlyInteger: true,
					offset: 0,
				},
				chartPadding: {
					left: 20,
					right: 20
				}
			};

			new Chartist.Line('#visits-trends-chart', data, options);


			// visits chart
			data = {
				labels: ['Axis - 1', 'Axis - 2', 'Axis - 3', 'Axis - 4', 'Spindle'],
				series: [
					[26, 32, 20, 18, 44]
				]
			};

			options = {
				height: 300,
				axisX: {
					showGrid: false
				},
			};

			new Chartist.Bar('#visits-chart', data, options);


			// real-time pie chart
			var sysLoad = $('#system-load').easyPieChart({
				size: 130,
				barColor: function (percent) {
					return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
				},
				trackColor: 'rgba(245, 245, 245, 0.8)',
				scaleColor: false,
				lineWidth: 5,
				lineCap: "square",
				animate: 800
			});

			var updateInterval = 3000; // in milliseconds

			setInterval(function () {
				var randomVal;
				randomVal = getRandomInt(70, 90);

				sysLoad.data('easyPieChart').update(randomVal);
				sysLoad.find('.percent').text(randomVal);
			}, updateInterval);

			function getRandomInt(min, max) {
				return Math.floor(Math.random() * (max - min + 1)) + min;
			}

		});
	</script>

	<script type="text/javascript">
		function handleSelect(elm) {
			window.location = elm.value;
		}
	</script>
	Share
</body>

</html>